<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TASK 2</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{../tasks}">
        <button class="button-73" role="button">Tasks</button>
    </form>

</head>

<body>
<h1>Task 2</h1>
<table class="container">
    <thead>
    <tr>
        <th>
            <h1>ID contract</h1>
        </th>
        <th>
            <h1>ID product</h1>
        </th>
        <th>
            <h1>Plan delivery</h1>
        </th>
        <th>
            <h1>End date</h1>
        </th>
        <th>
            <h1>general count this detail in this contract</h1>
        </th>
    </tr>
    </thead>
    <tr th:each="t:${task2List}">
        <td th:text="${t.idContract}">ID contract</td>
        <td th:text="${t.idProduct}">ID product</td>
        <td th:text="${t.planDelivery}">Plan delivery</td>
        <td th:text="${t.endDate}">End date</td>
        <td th:text="${t.sum}">General count this detail in this contract</td>
    </tr>
</table>

</body>
</html>