<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{tasks/task1}">
        <button class="button-73" role="button">Task 1</button>
    </form>
    <form th:action="@{tasks/task2}">
        <button class="button-73" role="button">Task 2</button>
    </form>
    <form th:action="@{tasks/task3}">
        <button class="button-73" role="button">Task 3</button>
    </form>

</head>
<body>




</body>
</html>