<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounting deliveries</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{/accountingDeliveries}">
        <button class="button-73" role="button">Accounting Deliveries</button>
    </form>

</head>
<body>
<h1>Accounting Deliveries</h1>
<table class="container">
    <thead>
    <tr>
        <th>
            <h1>ID document on admission</h1>
        </th>
        <th>
            <h1>ID storage</h1>
        </th>
        <th>
            <h1>ID contract</h1>
        </th>
        <th>
            <h1>ID product</h1>
        </th>
        <th>
            <h1>Unit</h1>
        </th>
        <th>
            <h1>Count products</h1>
        </th>
        <th>
            <h1>Date of admission</h1>
        </th>
    </tr>
    </thead>
    <tr th:each="ad:${adList}">
        <td th:text="${ad.idDocumentOnAdmission}">ID document on admission</td>
        <td th:text="${ad.idStorage}">ID storage</td>
        <td th:text="${ad.idContract}">ID contract</td>
        <td th:text="${ad.idProduct}">ID product</td>
        <td th:text="${ad.unit}">Unit</td>
        <td th:text="${ad.countProducts}">Count products</td>
        <td th:text="${ad.dateOfAdmission}">Date of admission</td>
    </tr>
</table>



</body>
</html>