<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--availability_products_in_storage(id_storage, id_product, count_in_storage)-->
<head>
    <meta charset="UTF-8">
    <title>Add apis</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{/availabilityProductsInStorage}">
        <button class="button-73" role="button">Availability products in storage</button>
    </form>


</head>
<body>
<form th:method="POST" th:action="@{/availabilityProductsInStorage}" th:object="${apis}">
    <label for ="idStorage">Enter id storage: </label>
    <input  type="number" th:field="*{idStorage}" id="idStorage" placeholder="Id storage">
    <br/>
    <label for ="idProduct">Enter id product: </label>
    <input type="number" th:field="*{idProduct}" id="idProduct" placeholder="Id product">
    <br/>
    <label for ="countInStorage">Enter count in storage: </label>
    <input type="number" th:field="*{countInStorage}" id="countInStorage" placeholder="count in storage">
    <br/>
    <input type="submit" value="add" class="button-73">
</form>

</body>
</html>