<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All apis</title>
</head>

<!--
id_storage BIGINT NOT NULL ,#номер склада
    id_product BIGINT NOT NULL, #код изделия (детали);
    unit VARCHAR(255) DEFAULT "items", #единица измерения;
    count_in_storage INT DEFAULT 0,#количество, имеющееся на складе;
    date_last_operation DATE, #дата последней операции.
-->

<body>
<h1>head 1</h1>
<br>
<h3>Head 3</h3>
<br/>
<table border="1">
    <tr>
        <td>ID storage</td>
        <td>ID product</td>
        <td>Unit</td>
        <td>Count in storage</td>
        <td>Date last operation</td>
    </tr>
    <tr th:each="a:${apis}">
        <td th:text="${a.idStorage}">ID storage</td>
        <td th:text="${a.idProduct}">ID product</td>
        <td th:text="${a.unit}">Unit</td>
        <td th:text="${a.countInStorage}">Count in storage</td>
        <td th:text="${a.dateLastOperation}">Date last operation</td>
    </tr>
</table>
<a th:href="@{/availabilityProductsInStorage}">Availability products in storage</a>
<a th:href="@{/}">Home</a>
</body>
</html>