<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--https://codepen.io/pablorgarcia/pen/ARdVgx-->
<head>
    <meta charset="UTF-8">
    <title>All apis</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{/availabilityProductsInStorage}">
        <button class="button-73" role="button">Availability products in storage</button>
    </form>`
</head>

<body>
<h1>Availability products in storage</h1>

<table class="container">
    <thead>
    <tr>
        <th>
            <h1>ID storage</h1>
        </th>
        <th>
            <h1>ID product</h1>
        </th>
        <th>
            <h1>Unit</h1>
        </th>
        <th>
            <h1>Count in storage</h1>
        </th>
        <th>
            <h1>Date last operation</h1>
        </th>

    </tr>
    </thead>
    <tr th:each="a:${apis}">
        <td th:text="${a.idStorage}">ID storage</td>
        <td th:text="${a.idProduct}">ID product</td>
        <td th:text="${a.unit}">Unit</td>
        <td th:text="${a.countInStorage}">Count in storage</td>
        <td th:text="${a.dateLastOperation}">Date last operation</td>
    </tr>
</table>

</body>
</html>