<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Availability products in storage</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{/availabilityProductsInStorage/all}">
        <button class="button-73" role="button">Get all availability products in storage</button>
    </form>
    <form th:action="@{/availabilityProductsInStorage/add}">
        <button class="button-73" role="button">Add product in storage</button>
    </form>
</head>
<body>




<br/>
</body>
</html>