<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Error</title>
    <link rel="stylesheet" href="../style.css">
    <form th:action="@{/}">
        <button class="button-73" role="button">Home</button>
    </form>
    <form th:action="@{tasks}">
        <button class="button-73" role="button">Tasks</button>
    </form>
    <form th:action="@{/deliveries}">
        <button class="button-73" role="button">Deliveries</button>
    </form>
    <form th:action="@{/availabilityProductsInStorage}">
        <button class="button-73" role="button">Availability products in storage</button>
    </form>
    <form th:action="@{/accountingDeliveries}">
        <button class="button-73" role="button">Accounting deliveries</button>
    </form>
<body>
<h1>
    ERROR
</h1>

</body>
</html>